html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Yatay kaymayı engeller */
  overscroll-behavior-x: none; 
  width: 100%; /* Yatayda tamamen ekranı kaplar */
}

.App {
  text-align: center;
  max-width: 100%; /* 1200px yerine ekran genişliğini tam kapsar */
  margin: 0;
  padding: 0; /* Paddingi sıfırladık */
  width: 100%; /* Yanlarda boşluk olmasın diye %100 genişlik */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%; /* Navbar genişliğini tam ekran yapmak için */
  padding: 0; /* Navbar'da padding bırakmıyoruz */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  min-height: 100vh;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
