.main-footer{
    color:white;
    background-color:rgb(52, 148, 52);
    padding-top: 20px;
    position:relative;
    bottom:0;
    width:100%;

}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px 0;
   
    
}

.column{
    flex:1;
    align-items: flex-start;
    margin:10px;
    padding-left: 100px;

}



.vegetablecolumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    margin-left: 12%;
   
}


.vegetableicon{
    width:90px;
    height:auto;
    

}

.locationcontainer{
    
    display: flex;


}

.phonecontainer{
    display: flex;


}

.mailcontainer{
   display: flex;


}

.aboutcontainer{
    display: flex;
    justify-content: center;

   
}

.aboutcontainer a{
    color:inherit;
    transition: all 0.4s ease

}

.aboutcontainer a:hover{
    color:rgb(234, 165, 38);
    font-weight: bold;
    transition: all 0.4s ease;
    text-decoration: underline;

}


.footericons{
    width: 20px;
    margin-right: 10px;
    
   
}


.socialmediacontainer{
    display: flex;
    gap:20px;
    margin:20px 0;
    justify-content: center;
    margin-top: 40px;

}

.socialmediaicons{
    width: 50px;
    transition: transform 0.4s ease;
   
}

.socialmediaicons:hover{
    transform: scale(1.5);
    
   
}



.copyright{
    text-align: center;
    width:100%;
    display: flex;
    justify-content: center;
    margin-left: 12%;
}

h4{
    font-weight: bold;
    text-align: center;
}

hr{
    width:100%;
    margin-left: 90px;
    
}