.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:rgb(209, 187, 146);
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;
    

}

.logo-container{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items:center;
    margin-left: 0;


}

.logo{
    width: 100px;

}

.navbaritems a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-weight: bold;
    margin-left: 50px;

}

.navbaritems a:hover{
    color:#208d20;
    font-weight:bold;
    
}

.navbaritems a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    left: 50%;
    background-color:#208d20;
    transition: width 0.2s ease-in-out,left 0.2s ease-in-out;

}

.navbaritems a:hover::after{
    width: 100%;
    left: 0;
}